In [0]:
import pandas as pd
import numpy as np

In [2]:
link = 'https://github.com/dranzerblaze/breast_cancer_classification/blob/master/BreastCancer_Prognostic_v1.xlsx?raw=true'
df = pd.read_excel(link)
df.head()

       ID Outcome  Time  ...  Worst_fractal_dimension  Tumor_Size  Lymph_Node_Status
0  119513       N    31  ...                  0.08113         5.0                  5
1    8423       N    61  ...                  0.11890         3.0                  2
2  842517       N   116  ...                  0.09067         2.5                  0
3  843483       N   123  ...                  0.17300         2.0                  0
4  843584       R    27  ...                  0.07678         3.5                  0

[5 rows x 35 columns]

In [0]:
lymph = 0
count = 0
for i in range(len(df)):
  if df['Lymph_Node_Status'][i] != '?':
    lymph += df['Lymph_Node_Status'][i]
    count += 1
lymph_mean = lymph / count

In [12]:
lymph_new = []
for i in range(len(df)):
  if df['Lymph_Node_Status'][i] != '?':
    lymph_new.append(df['Lymph_Node_Status'][i])
  else:
    lymph_new.append(int(lymph_mean))
df_final = df.drop(['Lymph_Node_Status'],axis =1)
df_final['lymph_node_status'] = lymph_new
df_final.head()

       ID Outcome  Time  ...  Worst_fractal_dimension  Tumor_Size  lymph_node_status
0  119513       N    31  ...                  0.08113         5.0                  5
1    8423       N    61  ...                  0.11890         3.0                  2
2  842517       N   116  ...                  0.09067         2.5                  0
3  843483       N   123  ...                  0.17300         2.0                  0
4  843584       R    27  ...                  0.07678         3.5                  0

[5 rows x 35 columns]

In [13]:
rf = df_final[df_final.Outcome == 'R']
rf.head()

        ID Outcome  ...  Tumor_Size  lymph_node_status
4   843584       R  ...         3.5                  0
5   843786       R  ...         2.5                  0
7   844582       R  ...         4.0                 10
13  847990       R  ...         6.0                  6
15  848620       R  ...         3.0                  1

[5 rows x 35 columns]

In [35]:
df_new = rf.drop(['ID','Outcome'],axis=1)
df_new.head()

    Time  radius_mean  ...  Tumor_Size  lymph_node_status
4     27        20.29  ...         3.5                  0
5     77        12.75  ...         2.5                  0
7     77        13.71  ...         4.0                 10
13    36        14.54  ...         6.0                  6
15    10        16.13  ...         3.0                  1

[5 rows x 33 columns]

In [0]:
X = df_new.drop(['Time'],axis =1)
Y = df_new['Time']

In [0]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_X = scaler.fit_transform(X)

In [0]:
ids = rf['ID']
id_final = []
for idw in ids:
  id_final.append(idw)

In [0]:
dict_ids = {}
for i in range(len(scaled_X)):
  dict_ids[str(scaled_X[i])] = id_final[i]

In [0]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain,ytest = train_test_split(scaled_X,Y, test_size = 0.1, random_state = 3)

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [81]:
regr = RandomForestRegressor(max_depth = 1000)
regr.fit(xtrain,ytrain)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=1000, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [0]:
ypred = regr.predict(xtest)

In [0]:
df_ans2= pd.DataFrame()
id_ans = []
pred_class =[]
for i in range(len(xtest)):
  key = str(xtest[i])
  id_ans.append(dict_ids[key])
  pred_class.append(ypred[i])
df_ans2['ID'] = id_ans
df_ans2['Predicted_Time'] = pred_class

In [84]:
df_ans.head()

        ID  Predicted_Time
0   906023           29.22
1   929684           26.97
2    87112           19.79
3   886490           15.49
4  8910988           18.24

In [0]:
df_ans.to_csv('predicted_time.csv')